body {
    font-size: 20px;
}
#headerText {
    background-color: black;
    color: white;
    text-align: left;
}

h1, h2, h3, h4 {
    font-weight: bold;
}

.flex3 { 
    display: flex; 
    justify-content: space-between;
    font-size: large;
    font-weight: 500;
    /* background-color: green;  */
}

#bankBalance, #balanceLabel {
    font-size: bold;
} 

.flex-items { 
    background-color: #f4f4f4; 
    /* width: 100px;  */
    /* height:50px;  */
    /* margin: 10px;  */
    text-align: center; 
    /* font-size: 40px;  */
} 

/* .row {
    margin-bottom:20px;
}
 */

div {
    margin-bottom:20px;
}

/* #laptops {
    background-color:powderblue;
    position:relative;
    left:10px;
} */

#productPrice {
    font-weight: bold;
    padding-top: 25px;
    /* padding-left: 75px; */
    margin-left: 100px;
}

#buyBtn  {
    margin-left: 65px;
}

.jumbotron-fluid {
    background-color: #f2f3f4;
}

/* .productPrice {    
    margin-right: 30px;
    margin-left: 80px;
} */

#bank , #work, #products {
    margin-right: 0px;    
    margin-left: 0px;
    background-color: #f2f3f4;
}

#loanDiv, #workDiv {    
    margin-top: 75px;
}

#productImg {
    max-width: 100%;
    max-height: 100%;
    display: block;
}

.productImg{
    width: 200px;        
    border: 5px solid black;
    margin-right: 30px;
}

.container {
    display: flex; /* or inline-flex */
}

.productSpec {
    width: 1020px;
}   


#productsSelect {
    box-sizing: content-box;
    width: 85%;
    border: solid #999ba1 10px;
    padding: 5px;
}

#bank, #work, #products {
    border-radius: 25px;
    /* background: url(paper.gif); */
    background-position: left top;
    background-repeat: repeat;
}