<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" integrity="sha512-1ycn6IcaQQ40/MKBW2W4Rhis/DbILU74C1vSrLJxCq57o941Ym01SwNsOMqvEBFlcgUa6xLiPY/NS5R+E6ztJQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="./css/style.css">
    <title>Computer Store</title>
</head>
<body>
  <div class="container">
    <div id="headerText" class="col-sm-12">
      <h1>Computer store</h1>
    </div>
  </div>
  <div class="container">
    <div id="bank" class="col-sm-4">
      <h3>Bank</h3>
      <div class="flex3"> 
          <div id="balanceLabel" class="flex-items">Balance</div> 
          <div id="bankBalance" class="flex-items">{{currentBalance}}</div> 
      </div>
      <div id="loanLabel" class="flex3"> 
        <div id="loanBalanceLabel" class="flex-items">Loan amount</div> 
        <div id="loanBalance" class="flex-items">{{curentLoanBalance}}</div> 
      </div> 
      <div id="loanDiv">
        <button id="getLoanBtn" type="button" onclick="handleGetLoan()"  class="btn btn-success btn-lg btn-block">Get a loan</button>
      </div>
    </div>
    <div class="col-sm-1"></div>
    <div id="work" class="col-sm-4">
      <h3>Work</h3>
      <div class="flex3"> 
        <div class="flex-items">Pay</div> 
        <div id="payBalance" class="flex-items">{{payBalance}}</div> 
      </div> 
      <div id="workDiv" class="row">
          <div class="col-sm-6">
              <button id="bankBtn" type="button" onclick="handBankTransfer()" class="btn btn-warning btn-lg btn-block">Bank</button>
          </div>
          <div class="col-sm-6">
              <button id="workBtn" type="button"  onclick="handleWork()" class="btn btn-primary btn-lg btn-block">Work</button>
          </div>
      </div>
      <div>
        <button id="repayLoanBtn" type="button" onclick="handleRepayLoan()" style="display:none"  class="btn btn-danger btn-lg btn-block">Repay loan</button>
      </div>
    </div>
    <div class="col-sm-1"></div>
    <div id="products" class="col-sm-4" pull-right text-right>
      <h3>Laptops</h3>
      <select id="productsSelect" name="productsSelect" class="form-select" aria-label="Products">
      </select>        
      <div>
        <h4>Features:</h4>
        <div id="feature">
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="jumbotron jumbotron-fluid">
      <div class="productSpec container">
        <div class= "productImg" class="col-sm-4"> 
          <img id="productImg" src="" alt="Responsive image">
        </div>
        <div class="col-sm-5"> 
          <h3 id="productTitle"></h3>
          <p id="productSpec"></p>
        </div>
        <div class="productPrice col-sm-3">
            <p id="productPrice"></p>
            <button id="buyBtn" class="btn btn-info btn-lg btn-block" onclick="handleBuyNow()">BUY NOW</button>
        </div>
      </div>
    </div>
  </div> 
  
  <!-- Modal -->
<div class="modal fade" id="info-modal" tabindex="-1" role="dialog" aria-labelledby="Information" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div id="infoHeader"class="modal-header alert alert-success" >
        <h5 class="modal-title" id="exampleModalLabel"> </i>Important information!</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div id="infoMessage" class="modal-body">
        {{infoMessage}}
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
  
  <script type="text/javascript" src="./js/app.js"></script>
</body>
</html>